<div class="box box-default">
    <div class="box-body">
        <div class="jumbotron about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>About Us</h1>

                        <p>WanVET Clinic has been a part of the community since 1998. We are providing complete general pet health care services, dental care, socialization training and internal medicine. We invite you to explore our services. </p>
                        <p>Open your heart and your home to a pet who needs help, and they will be showing their appreciation to you for the rest of their lives!</p>
                        <p>Thanks a lot for being a part of our family.</p>

                        <div>
                            <blockquote><p>Cats know how to obtain food without labor, shelter without confinement, and love without penalties. <i>Walter Lionel George</i></p></blockquote>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-sm-7 col-sm-push-1 col-xs-12 text-center">
                        <img src="https://photos-6.dropbox.com/t/2/AACJW2E-XAqeg3GfJl27V91QxYMhcCyK5zUhjZWQuun5sg/12/120306715/jpeg/32x32/1/_/1/2/cat_4.jpg/EPqq4FwYzTIgBygH/DEXPpUdy9TwdxlO63wK9aemNPqJV-pGIonv7IfxqBxk?size=2048x1536&size_mode=3" class="img-responsive">
                    </div>
                    <div class="breathingroom visible-xs"></div>
                </div>
            </div>
        </div>
    </div>
</div>
