<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Latest Pets</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li *ngFor="let pet of pets">
                        <img src="{{pet.profileImageUrl}}" alt="{{pet.name}} Profile Image">
                        <a class="users-list-name" routerLink="timeline/{{pet.id}}">{{pet.name}}</a>
                        <span class="users-list-date">{{pet.species}}, {{pet.breed}}, {{pet.sex}}</span>
                    </li>
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>